/* .titleclass {
    text-align: center;
    font-size: 30px;
    font: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(75, 75, 213);
}

.content {
    text-align: left;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(155, 155, 50);
}

figure {
    display: flex;
    width: fit-content;
    border: solid;
    border-width: 0.5;
    border-color: rgb(102, 102, 199);
    align-content: center;
    align-self: center;
    align-items: center;
    justify-self:center;
    justify-content: center;
    justify-items: center;
    background-color: bisque;
    margin-left: 30%;
}

figcaption {
    font-style: italic;
    font-size: 12px;
    color: rgb(139, 94, 94);
}

img {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

.figclass {
    align-items: center;
}

a {
    color: red;
}

@media screen and  (max-width: 500px){
    body {
        background-color: blue;
    }
} 

ul::first-line {
    color: peru;
}

ul::first-letter {
    color: red
}


ul > li:last-child {
    color: green;
}

body {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
}

body {
    display: grid;
    grid-template-columns: 1fr ;
}

p {
    display: grid;
    grid-area: 50% auto;
} */